body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }

  body {
    font-family: Arial, sans-serif;
    background-image: url("https://st.depositphotos.com/1795881/3653/i/950/depositphotos_36538767-stock-photo-abstract-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  
  .calculator {
    width: 300px;
    margin: 50px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  h3 {
    margin-top: 20px;
  }
  
  #saida {
    font-weight: bold;
  }